<% if beer.favorited_by?(current_user)%>
  <%= link_to beer_favorite_path(beer.id), method: :delete, remote: true do %>
    <div class="favorite-btn">
    <i class="fas fa-check-circle like"> 飲みたい！<%= beer.favorites.count %></i>
    </div>
  <% end %>
<% else %>
  <%= link_to beer_favorite_path(beer.id), method: :post, remote: true do %>
    <div class="favorite-btn">
    <i class="far fa-check-circle unlike"> 飲みたい！<%= beer.favorites.count %></i>
    </div>
  <% end %>
<% end %>