<footer class="footer-wrapper">
  <div class="footer-container">
    <div class="footer-top">
      <%= mail_to "on83.takahashi.yusuke@gmail.com", "お問い合わせ" %>
    </div>
    <div class="footer-bottom">
    <%= image_tag asset_path('5tap-logo-black.png'), size: "120x50" %>
    <p>© yusuke_takahashi</p>
    </div>
  </div>
</footer>