<%= render "shared/search_form" %>
<h3>お気に入りのビールを登録しよう</h3>
<%= link_to '登録する', new_beer_path %>

<h3>登録されたビールの一覧</h3>
<% @beers.each do |beer| %>
  <p><%= link_to beer.name, beer_path(beer.id) %></p>
<% end %>