.main-beer{
  margin: 20px;
  padding-bottom: 20px;
  display: flex;
  border-bottom: 1px solid;
  .left-beer{
    margin: 20px;
    width: 350px;
    .beer-name{
      font-size: 30px;
      margin-bottom: 20px;
    }
    .beer_likes, .beer-review{
      margin-top: 15px;
      a{
        text-decoration: none;
      }
      .favorite-btn{
        text-align: center;
        font-size: 18px;
        .like, .unlike{
          padding: 5px 10px;
        }
        .like{
          background-color: darkorange;
          color: white;
        }
        .unlike{
          color: darkorange;
          border: darkorange solid 1px;
        }
      }
    }
    .beer-review{
      text-align: center;
      font-size: 18px;
      .review-post{
        background-color: black;
        color: white;
        padding: 5px 10px;
      }
    }
  }
  .right-beer{
    margin: 70px 20px 0 20px;
    .edit-bottons{
      text-align: right;
      .edit-btn, .destroy-btn{
        text-decoration: none;
        padding: 5px;
      }
      .edit-btn{
        border: black 1px solid;
        color: black;
      }
      .destroy-btn{
        color: lightgray;
        border: lightgray 1px solid;
      }
    }
    .item-info{
      padding-bottom: 20px;
      i{
        margin-right: 20px;
      }
    }
  }
}
.main-reviews{
  padding: 20px 0 20px 40px;
}
.main-title{
  padding: 20px;
  font-size: 22px;
}
.review{
  padding-bottom: 15px;
  margin-bottom: 10px;
  display: flex;
  width: 100%;
  border-bottom: 0.5px solid lightgray;
  .left-field{
    padding: 10px;
    .user-icon{
      border-radius: 50%;
    }
  }
  .right-field{
    width: 80%;
    padding: 10px;
    .date{
      color: gray;
      font-size: x-small;
    }
    a{
      text-decoration: none;
      color: black;
    }
    .review-body{
      padding: 20px 0;
    }
  }
}