.forms{
  padding: 25px;

  // ビール情報登録フォームのCSS
  .beer-field{
    display: flex;
    align-items: center;
    height: 70px;
    margin-top: 5px;
    .field-title{
      width: 200px;
      font-size: 20px;
      margin-left: 15px;
    }
    .field-input{
      textarea{
        resize: horizontal;
        height: 60px;
        width: 500px;
      }
    }
    .beer-btn{
      margin: 0 auto;
    }
  }

  // ユーザー新規登録フォームのCSS
  .field{
    display: flex;
    align-items: center;
    height: 40px;
    margin-top: 5px;
    .field-title{
      width: 150px;
      font-size: 15px;
      em{
        font-size: 10px;
      }
    }
  }
}