.top-header-wrapper{
  display: flex;
  align-items: center;
  height: 100px;

  .header-left{
    width: 50%;
    margin-left: 100px;
  }

  .header-right{
    margin-left: auto;
    margin-right: 100px;

    .user-nav{
      list-style: none;
      display: flex;
      align-items: center;

      li{
        margin-right: 20px;
        a{
          color: white;
          text-decoration: none;
          font-size: 18px;
        }
        .user-icon{
          border-radius: 50%;
        }
      }
    }
  }
}