body{
  background-color: rgb(248, 247, 234);
}
.top-wrapper{
  height: 600px;
  background-image: image-url("top_beer");
  background-size: cover;
  .top-container{
    margin: 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .main{
      margin-top: 150px;
      height: 250px;
      width: 500px;
      background-color: rgba(255, 255, 224, 0.2);
      .main-text{
        text-align: center;
        color: white;
        padding: 20px;
        h3{
          font-size: 30px;
        }
        p{
          font-size: 20px;
          margin: 20px;
        }
      }
    }
    .top-search{
      display: flex;
      align-items: center;
      height: 80px;
      input{
        height: 40px;
      }
      .form-field{
        width: 350px;
      }
    }
  }
}

.contents-wrapper{
  width: 1400px;
  .contents-copy{
    font-size: 30px;
    padding: 50px 0 15px 150px;
  }
  .container{
    margin: 20px 150px;
    display: flex;
    .left-contents{
      width: 350px;
      height: 400px;
      margin-right: 50px;
      background-color: white;
      text-align: center;
      padding: 15px;
      h4{
        margin: 5px 0 20px 0;
        font-size: 20px;
      }
      .left-text{
        text-align: left;
      }
      p{
        line-height: 1.6;
        padding-bottom: 10px;
      }
    }
    .right-contents{
      width: 100%;
      a{
        text-decoration: none;
        color: black;
      }
      .review-field{
        margin-bottom: 10px;
        background-color: white;
        padding: 25px;
        display: flex;

        .review-header{
          padding: 5px 15px 0 15px;
          .user-icon{
            border-radius: 50%;
          }
        }
        .review-info{
          margin-left: 10px;
          .date{
            font-size: x-small;
            color: gray;
          }
          p{
            font-size: 16px;
            padding: 5px 0;
          }
          .beer-name{
            padding: 15px 0 10px 0;
            font-weight: bold;
            a{
              color: blue;
            }
          }
          .details{
            margin-left: 10px;
          }
        }
      }
    }
  }
}

.registration-container{
  height: 400px;
  background-image: image-url("sample");
  background-size: cover;
  background-position: center center;
  .registration-main{
    text-align: center;
    color: white;
    h2{
      font-size: 50px;
      color: white;
      padding: 80px 0 50px 0;
    }
    h3{
      font-size: 35px;
      padding: 20px 0;
    }
    a{
      display: inline-block;
      padding: 10px;
      text-decoration: none;
      color: white;
      border: white 1px solid;
    }
  }
}