.top-wrapper{
  height: 600px;
  background-image: image-url("top_beer");
  background-size: cover;
  .top-container{
    margin: 0 100px;
    .container-text{
      height: 400px;
    }
    .top-search{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80px;
      .search-form{

        input{
          height: 40px;
        }
        .form-field{
          width: 350px;
        }
      }
    }
  }
}

.container{
  margin: 50px 100px;

  h3{
    font-size: 30px;
    margin-bottom: 15px;
  }
  .review-text{
    margin-bottom: 10px;
    border: 1px solid;
    padding: 10px;

    p{
      font-size: 20px;
      margin: 5px 0;
    }
    span{
      margin-left: 10px;
    }
  }
}