.top-wrapper{
  height: 600px;
  background-image: image-url("top_beer");
  background-size: cover;
  .top-container{
    margin: 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .main{
      margin-top: 150px;
      height: 250px;
      width: 500px;
      background-color: rgba(255, 255, 224, 0.2);
      .main-text{
        text-align: center;
        color: white;
        padding: 20px;
        h3{
          font-size: 30px;
        }
        p{
          font-size: 20px;
          margin: 20px;
        }
      }
    }
    .top-search{
      display: flex;
      align-items: center;
      height: 80px;
      input{
        height: 40px;
      }
      .form-field{
        width: 350px;
      }
    }
  }
}

.container{
  margin: 50px 150px;
  a{
    text-decoration: none;
    color: black;
  }
  h3{
    font-size: 30px;
    margin-bottom: 15px;
  }
  .review-field{
    margin-bottom: 10px;
    border: 1px solid;
    padding: 10px;
    display: flex;

    .review-header{
      padding: 5px 15px 0 5px;
      .user-icon{
        border-radius: 50%;
      }
    }
    .review-info{
      .date{
        font-size: x-small;
        color: gray;
      }
      p{
        font-size: 16px;
        padding: 5px 0;
      }
      .beer-name{
        padding: 15px 0 10px 0;
        font-weight: bold;
        a{
          color: blue;
        }
      }
      .details{
        margin-left: 10px;
      }
    }
  }
}