.profiel-wrapper{
  padding: 20px 40px;
  h2{
    font-size: 25px;
    padding-bottom: 15px;
  }
  .user{
    padding: 20px 0;
    border-bottom: lightgray 1px solid;
    .user-header{
      display: flex;
      .user-icon{
        border: lightgray 1px solid;
        border-radius: 50%;
        width: 70px;
        height: 70px;
      }
      .user-name{
        margin: 10px 15px;
      }
      .following{
        margin-bottom: 10px;
        a{
          text-decoration: none;
          color: blue;
        }
      }
    }
    .user-body{
      .user-status{
        padding-bottom: 10px;
        font-size: small;
        display: flex;
        span{
          color: gray;
          display: block;
          width: 100px;
        }
      }
    }
  }
}
.beer-wrapper{
  padding-bottom: 15px;
  border-bottom: lightgray 1px solid;
  h3{
    font-size: 18px;
    padding: 20px 0;
  }
  .beer-container{
    display: flex;
    .beers{
      width: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .beer-icon{
        width: 100px;
        height: 100px;
      }
    }
    a{
      text-decoration: none;
      color: black;
    }
  }
}

.follow-wrapper{
  padding: 20px;
  h2{
    font-size: 20px;
    padding-bottom: 10px;
  }
  .follows{
    padding: 10px 0;
    display: flex;
    align-items: center;
    .left{
      width: 60px;
      .user-icon{
        border-radius: 50%;
      }
    }
    a{
      text-decoration: none;
      color: black;
      font-size: 18px;
    }
  }
}